* {
    box-sizing: border-box;
}

.canvas {
    display: grid;
    grid-gap: 0px;
    width: 160px;
    height: 160px;
}

.tile {
    background-color: cyan;
    margin: 0;
    width: 10px;
    height: 10px;
}

.tile:hover {
    border: 1px solid coral;
}

.tile.active  {
    background-color: coral;
    transform: translateX(-2px) translateY(2px);
    box-shadow: 1px -1px #555555, 2px -2px #555555;
    transition: background-color 1s, transform 1s, box-shadow 1s;
    z-index:2;
}


form>input, form>label, form {
    display: inline-block;
}